header nav ul li{
	float: left;
	color: white;
	padding-top: 12px;
	padding-right: 20px;
}
ul{
	list-style-type: none;
	margin: 00px;
}

header {
	height: 40px;
	background: #6c7a79;
}
.bstyle {
	margin: 00px;
}
.clear {
	clear: both;
 }
 .s1 {
 	width: auto;
 	height: 230px;
 	background: #05c2be;
 }
 #dh1 {
 	margin-top: 00px;
 	padding-top: 60px;
 	margin-bottom: 00px;
 	text-align: center;
 	font-size: 71px;
 	color: white;
 }
 .dp1 {
 	font-size: 22px;
 	margin-top: 10px;
 }
 #dps11 {
 	padding-left: 479px;
 	padding-right: 20px;
 	margin-top: 11px;
 }