.h {
	padding-left: 103px;
}
.h li a {
	float: left;
	color: white;
	padding-top: 12px;
	padding-right: 20px;
	text-decoration: none; 
}
ul{
	list-style-type: none;
	margin: 00px;
	color: white;
}

header {
	height: 40px;
	background: #6c7a79;
}
.bstyle {
	margin: 00px;
}
.clear {
	clear: both;
 }
 .sd1 {
 	width: auto;
 	height: 230px;
 	background: #05c2be;
 }
 #dh1 {
 	margin-top: 00px;
 	padding-top: 60px;
 	margin-bottom: 00px;
 	text-align: center;
 	font-size: 71px;
 	color: white;
 }
 .dp1 {
 	font-size: 22px;
 	margin-top: 10px;
 }
 #dps11 {
 	padding-left: 479px;
 	padding-right: 20px;
 	margin-top: 11px;
 }
 .sd2 {
 	height: 236px;
 	background: #e3e3e3;
 }
 .sdh2 {
 	margin-top: 00px;
 	margin-bottom: 16px;
 	padding-top: 67px;
 	font-size: 36px;
 	text-align: center;
 }
 .sdp2 {
 	width: 960px;
 	margin-left: auto;
 	margin-right: auto;
 }
 .sd3 {
 	background: #097763;
 	text-align: center;
 }
 .sdi3 {
 	width: 960px;
 	height: 386px;
 	vertical-align: middle;
 }
 .dh4 {
 	text-align: center;
 	font-size: 45px;
 	margin-bottom: 9px;
 }
 .sdd4 {
 	width: 960px;
 	margin-left: auto;
 	margin-right: auto;
 	background: #e3e3e3;
 }
 .sdd4 div{
 	float: left;
 }
 .sddi41 {
 	height: 290px;
 	width: 199px;
 }
 .sddi42 {
 	height: 290px;
 	width: 290px;
 }
 .sddd4 {
 	width: 431px;
 	margin-left: 20px;
 	margin-right: 20px;
 }
 .sddd4 h1 {
 	padding-left: auto;
 }
 .sddd4 p {
 	padding-right: 00px;
 }
 .sdda4 {
 	padding: 7px;
 	background: #05c2be;
 	text-decoration: none;
 }
 .sd5 h1{
 	text-align: center;
 	clear: both;
 	margin: 00px;
 	padding: 13px;
 	font-size: 40px;
 }